doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones

  body
    include ./partials/_header.pug

    .article-container.container.context
      main.content
        article.article
          h1.article-title= article.title
          .article-infobar
            if relative.categories
              .category
                i.fa.fa-sticky-note-o
                for category, index in relative.categories
                  a(href= relative.categoryLinks[index], title= category)= category

            if article.date
              time.date
                i.fa.fa-calendar-o
                span= new Date(article.date).toLocaleString('en-US', { hour12: false })

            if article.author
              .author
                | Written by:&nbsp;
                a(title= article.author, target='_blank')= article.author

            else
              .author
                | Written by:&nbsp;
                a(href='https://github.com/DavidKk', title='David Jones', target='_blank') David Jones

          section.article-content!= article.html

          .article-widgets
            if relative.tags
              .tags
                i.fa.fa-tags
                each tag, index in relative.tags
                  a(href= relative.tagLinks[index], title= tag)= tag

        nav.pagination
          ul.pagination-simple
            if prevArticle
              li
                a(href= prevArticle.link, title= prevArticle.title)
                  span Previous
                  span= prevArticle.title

            if nextArticle
              li
                a(href= nextArticle.link, title= nextArticle.title)
                  span Next
                  span= nextArticle.title

        .comments
          .disqus-plugin
            include ./partials/_disqus.pug
          //- .duoshuo-plugin
          //-   include ./partials/_duoshuo.pug
          //- .youyan-plugin
          //-   include ./partials/_youyan.pug

    include ./partials/_footer.pug
    script(src='scripts/index.js')
    script#dsq-count-scr(src='//davidkk.disqus.com/count.js', async)
