doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones

  body
    include ./partials/_header.pug

    .index-container.container.context
      .entry-group
        each article in articles
          section.entry
            h3.entry-title
              a(href= article.link, title= article.title)= article.title

            .entry-infobar
              if article.category
                .category
                  i.fa.fa-sticky-note-o
                  each category, index in article.categories
                    a(href= article.categoryLinks[index], title= category)= category

              if article.tags
                .tags
                  i.fa.fa-tags
                  each tag, index in article.tags
                    a(href= article.tagLinks[index], title= tag)= tag

              if article.date
                time.date
                  i.fa.fa-calendar-o
                  span= new Date(article.date).toLocaleString('en-US', { hour12: false })

            section.entry-content
              .content.clearfix.
                !{article.summary}

            .entry-more
              a.btn(href= article.link, title='Continue Reading') Continue Reading

      nav.pagination
        ul.pagination-book
          if 1 < page.pages[0]
            li
              a(href='/article/page/1.html', title='1') 1

          if 2 < page.pages[0]
            li ...

          for pageNumb, index in page.pages
            if pageNumb === page.current
              li.active
                a(title='Currrent page')= pageNumb
            else
              li
                a(href= page.pageLinks[index], title= pageNumb)= pageNumb

        if page.current < page.pages.slice(-1)[0]
          a.pagination-addon(href= page.pageLinks[page.current], title='Show me more') Show me more

    include ./partials/_footer.pug
    script(src='scripts/index.js')
